*{
    font-family: 'Poppins';
}
.Facilities{
    background-color: whitesmoke;
}
/* Styling the quote heading on facilities page */
.quote{
    color:#24a1e5;
    font-weight:bolder;
    font-size: 35px;
    padding:2%;
}
/* Styling the card component of facilities */
.facilities{
 
    display:flex;
    align-items:center;
    justify-content:center;
    margin:20px;
    padding:3%;
}
.container{
    width:100%;
    max-width: 1500px;
    display: flex;
    align-items:center;
    justify-content:center;
    margin-bottom:1%;
}
.first, .third{
    width:50%;
    height:600px;
    background-color:white;
    margin-left:1%;
    margin-right:1%;
    justify-content:center;
    border-bottom: 4px solid #275080;
    border-radius:4%;
    overflow:hidden;
}
.second, .forth{
    width:50%;
    height:600px;
    background-color:white;
    border-bottom: 4px solid #275080;
    border-radius:4%;
    overflow:hidden;
    justify-content:center;
    

}
@media  screen and (max-width:760px){
    .container{
        flex-direction: column;
        width:100%;
        
    }
    .first, .second, .third, .forth{
        width: 80%;
        margin-bottom:10%;
        height:550px;
        /* padding-bottom: 2rem; */
    }
    .quote{
        font-size:20px;
    }
   
} 

#BusImg{
    height:300px;
    width:100%;
    object-fit: cover; 
   
}
#FaciHeading{
    text-align: center;
    font-weight:bolder;
    font-size: 3vh;
    color:#275080;
}
.FaciContent{
    list-style-type: square;
    margin:30px;
    font-weight:500;
}

/* Styling the Management */
.Management{
    background-color: whitesmoke;
}
 .name{

    text-transform: capitalize;
    line-height: 1.25; 
    margin-bottom: 0.75rem; 
} 
.name{
    color: #124559;
    font-size:40px;
} 
/* h2{
    font-size: 50px;
    
} */

.section{
    width:90vw;
    margin: 4rem auto;
    max-width: 1170px;
    background-color: white;
    border-radius: 2%;
    padding: 2%;
    border-bottom:4px solid #124559;
}
@media screen and (min-width: 992px){
    .section{
        width: 95vw;
    }
}
.section-center{
    margin: 0 auto;
    margin-top: 4rem;
    width: 80vw;
    height: 450px;
    max-width: 800px;
    text-align: center;
    position: relative;
    display: flex;
    overflow: hidden;
}
article{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 0.3s linear;
}
article.activeSlide{
    opacity:1;
    transform: translateX(0);
}
article.lastSlide{
    transform: translate(-100%);
}
.person-img{
    border-radius: 50%;
    margin-bottom: 1rem;
    width: 150px;
    height: 150px;
    object-fit: cover;
    border: 4px solid #fff;
    box-shadow: 0 5px 15px rgba(0,0,0,0,2);
    /* padding: 2%; */
}

.title{
    text-transform: capitalize;
    margin-bottom: 0.75rem;
    color: #24a1e5;
    /* text-shadow: 2px 2px 2px #24a1e5; */
    text-align: center;
    margin-bottom: 2rem;
    font-size: 30px;
    font-weight: 800;
}
.title h2{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
}
.text{
    max-width: 35rem;
    margin: 0 auto;
    margin-top: 2rem;
    line-height: 2; 
    color: black;
}
.prev , .next{
    position: absolute;
    top: 200px;
    transform: translateY(-50%);
    background: #304e71;
    color: #fff;
    width: 2.25rem;
    height: 2.25rem;
    display: grid;
    place-items: center;
    border-color: transparent;
    font-size: 1rem;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: all 0.3s linear;
}
.prev:hover , .next:hover{
    background: #24a1e5;
}
.prev{
    left: 0;
}
.next{
    right: 0;
}
@media (min-width: 800px){
    .text{
        max-width: 45rem;
    }
    .prev , .next{
        width:2rem;
        height: 2rem;
    }
}
@media screen and (max-width: 480px) {
    .container{
        flex-direction: column;
    }
    .facility{
        margin: 0;
    }
}