.query{
    background-image: url(../images/adBanner01.png);
    background-position: center;
    background-size: cover;
    position: relative;
    font-family: Poppins;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2rem;
}
.queryTagline h1{
    color: white;
    font-size: 4rem;
}
.queryTagline h3{
    color: white;
    font-size: 2rem;
}
.queryForm{
    background-color: white;
    padding: 1.5rem;
    color: #124559;
    border-top: 1.5px solid #24a1e5;
    border-left: 1.5px solid #24a1e5;
    border-bottom: 5px solid #24a1e5;
    border-right: 1.5px solid #24a1e5;
    border-radius: 15px;
}
.queryForm h3{
    text-align: center;
    font-size: 1.8rem;
    padding: 0 0 1.5rem 0;
}
.inputField{
    border-top: 0;
    border-left: 0;
    outline: none;
    border-right: 0;
    border-bottom: 2px solid #124559;
    padding: 1rem 1rem 0.5rem 0;
    transition: 0.2s ease-in-out;
    width: 100%;
    margin: 0.6rem 0.6rem 0.6rem 0;
}
input:focus{
    border-bottom: 2px solid #24a1e5;
}
label{
    font-family: Poppins;
}
#select{
    margin: 0.6rem 0.6rem 0.8rem 0;
    padding: 0.5rem;
    font-family: Poppins;
    outline: none;
    transition: 0.2s ease-in-out;
    width: 100%;
}
select:focus{
    border: 1px solid #24a1e5;
}
#submit{
    text-align: center;
    width: 100%;
    border-radius: 15px;
    padding: 0.8rem;
    color: white;
    font-family: Poppins;
    font-size: 1rem;
    background-color: #124559;
    border: none;
    cursor: pointer;
}
#submit:hover{
    background-color: #0f3646;
}
.admit{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../images/admission.png);
    padding: 3rem;
    font-family: Poppins;
    align-items: center;
}
.admit h1{
    font-size: 5rem;
    color: #275080;
}
.admit p{
    line-height: 35px;
    font-size: 1.3rem;
    padding: 1.2rem 3rem 1.2rem 0;
}
.clgPhoto{
    padding: 2rem;
    width: 37%;
    /* border: 2px solid black; */
    border-radius: 50px;
}
.parent{
    background-color: #f5f5f5;
}
.chooseHead{
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    font-size: 3rem;
    font-family: Poppins;
}
.reason-div{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.chooseUs{
    padding: 2rem;
    background-image: linear-gradient(#164499e3,#164499dd),url(../images/college10.jpeg);
    background-size: cover;
    min-height: 80vh;
    background-position: center;
}
.reason{
    border: 2px solid #fff;
    padding: 2rem 3rem 2rem 3rem;
    margin: 1.5rem;
    border-radius: 10px;
    font-family: Poppins;
}
.reason i{
    font-size: 2.5rem;
    color: white;
}
.reason h3{
    color: white;
    font-size: 1.1rem;
}
.reason p{
    color: white;
    padding: .3rem;
    font-size: 1.1rem;
}
.list01{
    background-image: url(../images/banner01.png);
    padding: 3rem;
}
.program-list{
    display: flex;
    justify-content: space-evenly;
    font-family: Poppins;
    padding: 2rem;
}
.proSublist{
    padding: .8rem;
}
.proSublist h2{
    font-size: 2rem;
    color: #124559;
}
.proSublist li{
    line-height: 45px;
    margin-left: 1rem;
    font-size: 1.1rem;
    list-style-type: circle;
    color: #0f3646;
}
.proSublist sup{
    font-size: 1rem;
    padding: 0.6rem;
}
.list01 span{
    text-align: center;
    font-size: 3rem;
    color: #275080;
    font-weight: 550;
    margin-left: 2rem;
    border-bottom: 6px solid #1e86be;
    font-family: Poppins;
}
.slide-container{
    display: none;
}
.scholarship{
    background-image: url("../images/banner02.png");
    background-size: cover;
    padding: 2.2rem;
    font-family: Poppins;
}
.details{
    margin-left: 26rem;
}
.details h2{
    color: #275080;
    line-height: 50px;
    font-size: 2.3rem;
}
.details p{
    padding: 1rem 0 0.5rem 0;
    font-size: 1.2rem;
    line-height: 40px;
}
.details a{
    font-size: 1.2rem;
    color: #1e86be;
}
.details h3{
    font-size: 2rem;
    padding: 0.6rem 0 0 0;
    color: #275080;
}
.slide-container1{
    display: none;
}
.details ul{
    padding: 0.6rem 0 0 0;
}
.details li{
    font-size: 1.2rem;
    list-style-type: circle;
    line-height: 35px;
}
.details a:hover{
    text-decoration: underline;
    color: #a9b6be;
}
@media screen and (max-width:480px) {
    .query{
        flex-direction: column;
        text-align: left;
    }
    .slide-container{
        display: block;
        border-top: 5px solid #24a1e5;
        width: 100%;
        margin-top: 0.05rem;
        z-index: 0;
    }
    .slide-container img{
        width: 100%;
    }
    .slide-container1{
        background-image: linear-gradient(#164499df,#164499d3),url(../images/cover1.jpg);
        display: block;
        padding: 1rem;
        align-items: center;
    }
    .admit{
        background-size: cover;
        padding: 2rem;
        background-color: #a9b6be;
        border-radius: 0;
        flex-direction: column-reverse;
    }
    .queryTagline h1{
        color: white;
        font-size: 2.5rem;
    }
    .admit h1{
        margin: 0;
        font-size: 3rem;
    }
    .queryTagline h3{
        color: white;
        padding: 1rem 0 1rem 0;
        font-size: 1.5rem;
    }
    .clgPhoto{
        width: 100%;
        display: none;
        /* margin-left: -100px; */
        padding: 1rem;
    }
    .admit p{
        font-size: 1.2rem;
        line-height: 33px;
        text-align: justify;
        padding: .5rem 0 0 0;
    }
    .parent{
        background-color: #f5f5f5;
    }
    .child{
        padding: 0;
    }
    .chooseUs{
    background-image: linear-gradient(#164499df,#164499d3),url(../images/cover1.jpg);
    padding: 1.7rem;
    display: none;
    }
    .reason-div{
        flex-direction: column;
    }
    .reason{
        margin: 1rem;
        text-align: center;
        padding: 1rem 1.5rem 1rem 1.5rem;
    }
    .reason p{
        font-size: 1rem;
    }
    .chooseHead{
        font-size: 2.5rem;
        padding: .5rem;
        border-bottom: 5px solid #24a1e5;
    }
    .list01{
        padding: 1rem;
    }
    .program-list{
        flex-direction: column;
        padding: 0.7rem;
    }
    .proSublist{
        margin: 1rem 0 1rem 0;
    }
    .list01 span{
        margin-left: 0;
    }
    .scholarship{
        background-image: url("../images/banner01.png");
        /* background-position: center; */
    }
    .details{
        margin-left: 0;
    }
    .details h2{
        font-size: 2rem;
    }
    .details p{
        font-size: 1.2rem;
        line-height: 30px;
        text-align: justify;
    }
    .proSublist h2{
        font-size: 1.6rem;
        padding: 0.5rem 0 0.5rem 0;
    }
    .proSublist li{
        font-size: 1.2rem;
        line-height: 35px;
    }
}