.query{
    background-image: url(../images/adBanner.png);
    background-position: center;
    background-size: cover;
    position: relative;
    font-family: Poppins;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2rem;
}
.queryTagline h1{
    color: white;
    font-size: 4rem;
}
.queryTagline h3{
    color: white;
    font-size: 2rem;
}
.queryForm{
    background-color: white;
    padding: 2rem;
    color: #124559;
    border-top: 1.5px solid #24a1e5;
    border-left: 1.5px solid #24a1e5;
    border-bottom: 5px solid #24a1e5;
    border-right: 1.5px solid #24a1e5;
    border-radius: 15px;
}
.queryForm h3{
    text-align: center;
    font-size: 1.8rem;

    padding: 0 0 1.5rem 0;
}
.inputField{
    border-top: 0;
    border-left: 0;
    outline: none;
    border-right: 0;
    border-bottom: 2px solid #124559;
    padding: 1rem 1rem 0.5rem 0;
    transition: 0.2s ease-in-out;
    width: 100%;
    margin: 0.6rem 0.6rem 0.6rem 0;
}
input:focus{
    border-bottom: 2px solid #24a1e5;
}
label{
    font-family: Poppins;
}
#select{
    margin: 0.6rem 0.6rem 0.8rem 0;
    padding: 0.5rem;
    font-family: Poppins;
    outline: none;
    transition: 0.2s ease-in-out;
    width: 100%;
}
select:focus{
    border: 1px solid #24a1e5;
}
#submit{
    text-align: center;
    width: 100%;
    border-radius: 15px;
    padding: 0.8rem;
    color: white;
    font-family: Poppins;
    font-size: 1rem;
    background-color: #124559;
    border: none;
    cursor: pointer;
}
#submit:hover{
    background-color: #0f3646;
}
.admit{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../images/admission.png);
    padding: 3rem;
    font-family: Poppins;
}
.admit h1{
    font-size: 3.5rem;
    color: #275080;
}
.admit p{
    font-size: 1.3rem;
    padding: 1.2rem 3rem 1.2rem 0;
}
.clgPhoto{
    padding: 2rem;
    width: 25%;
    /* border: 2px solid black; */
    border-radius: 50px;
}
.parent{
    background-color: #f5f5f5;
}
.chooseHead{
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    font-size: 3rem;
    font-family: Poppins;
}
.reason-div{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.chooseUs{
    padding: 3rem;
    background-image: linear-gradient(#164499a2,#164499a2),url(../images/college10.jpeg);
    background-size: cover;
    min-height: 80vh;
}
.reason{
    border: 2px solid #fff;
    padding: 2rem 3rem 2rem 3rem;
    margin: 1.5rem;
    border-radius: 10px;
    font-family: Poppins;
}
.reason i{
    font-size: 3rem;
    color: white;
}
.reason h3{
    color: white;
    font-size: 1.25rem;
}
.reason p{
    color: white;
    padding: .5rem;
    font-size: 1.1rem;
}
.list01{
    background-image: url(../images/banner01.png);
    padding: 3rem;
}
.program-list{
    display: flex;
    justify-content: space-evenly;
    font-family: Poppins;
    padding: 3rem;
}
.proSublist h2{
    font-size: 2rem;
    color: #124559;
}
.proSublist li{
    line-height: 40px;
    font-size: 1.2rem;
    list-style-type: circle;
    color: #0f3646;
}
.proSublist sup{
    font-size: 1rem;
    padding: 0.6rem;
}
.list01 span{
    text-align: center;
    font-size: 3rem;
    color: #275080;
    font-weight: 550;
    margin-left: 2rem;
    border-bottom: 6px solid #1e86be;
    font-family: Poppins;
}
@media screen and (max-width:480px) {
    .query{
        flex-direction: column;
        text-align: left;
    }
    .admit{
        background-size: cover;
        padding: 2rem;
        background-color: #a9b6be;
        border-radius: 0;
        flex-direction: column-reverse;
    }
    .queryTagline h1{
        color: white;
        font-size: 2.5rem;
    }
    .queryTagline h3{
        color: white;
        padding: 1rem 0 1rem 0;
        font-size: 1.5rem;
    }
    .clgPhoto{
        width: 100%;
        /* margin-left: -100px; */
        padding: 1rem;
    }
    .admit p{
        font-size: 1.3rem;
    }
    .parent{
        background-color: #f5f5f5;
    }
    .child{
        padding: 0;
    }
    .chooseUs{
    background-image: linear-gradient(#164499a2,#164499a2),url(../images/side.jpg);
    padding: 1.7rem;
    }
    .reason-div{
        flex-direction: column;
    }
    .reason{
        margin: 1rem;
        padding: 1rem 1.5rem 1rem 1.5rem;
    }
    .reason p{
        font-size: 1rem;
    }
    .chooseHead{
        font-size: 2.5rem;
        border-bottom: 5px solid #24a1e5;
    }
    .list01{
        padding: 1.2rem;
    }
    .program-list{
        flex-direction: column;
        padding: 1.5rem;
    }
    .proSublist{
        margin: 1rem 0 1rem 0;
    }
    .list01 span{
        margin-left: 0;
    }
}