.card-list, .hero{
    padding: 2rem;
    background-color: white;
}
.hero h1{
    padding: 3%;
    color: #275080;
    font-size: 3rem;
    font-weight: 600;
}
.heroSubHeading{
    padding:0 0 1% 3%;
    font-size: 1.5rem;
}
.blog-card img{
    width: 25%;
    border-radius: 15px;
}
.card-body{
    padding:  0 0 0 1rem;
}
.blogTitle{
    padding:  0 0 .7rem .7rem;
}
.blogDescription{
    padding: 0 0 2% 2%;
}
.blog-card{
    padding: 1rem;
    display: flex;
    border-bottom: 2px solid #275080;
    background-color: white;
    /* margin: 2rem; */
    /* border-radius: 15px; */
}
.navigator{
    background: none;
    border-radius: 15px;
    border: 2px solid #275080;
    margin: 0 2%;
    padding: 0.5rem 0.9rem 0.5rem 0.9rem; 
}

/*Blog content secion*/

.contentHeader img{
    width: 25%;
    padding: 2%;
}
.topImg{
    /* float: right; */
    clear: right;
}
.contentHeader h1{
    padding: 5% 5% 0 5%;
    font-size: 2.5rem;
}
.contentDiv{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    padding: 0 3% 0 3%;
}
.contentDiv p{
    padding: 2% 0 2% 2%;
}
.mainContent{
    padding: 2% 4% 2% 4%;
    text-align: justify;
}
@media screen and (max-width:480px){
    .blog-card{
        flex-direction: column;
        margin: 1rem;
    }
    .blog-card img{
        width: 100%;
    }
    .blogTitle{
        font-size: 1.2rem;
        padding: 3% 0 3% 0;
    }
    .hero{
        padding: 2%;
        border-top: 5px solid #24a1e5;
    }
    .card-list{
        padding: 0;
    }
    .card-body{
        padding: 0;
    }
    .blogDescription{
        padding: 0;
        font-size: 0.8rem;
    }
    .navigator{
        width: 100%;
        margin: 5% 0 3% 0;
        border-radius: 15px;
        padding: 3% 4% 3% 4%;
    }
}