.careerHead{
    background-image: linear-gradient(#124559a2,#124559a2), url('../images/career.png');
    background-size: cover;
    font-family: Poppins;
    background-position: center;
    text-align: center;
    min-height: 60vh;
}
.jobHead{
    font-size: 3rem;
    color: #275080;
}
#careerTag{
    text-align: center;
    padding: 3rem 0 1rem 0;
}
.job-card{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.job-card button{
    padding: 0.5rem 1rem 0.5rem 1rem;
    background: #24a1e5;
    border: 2px solid #24a1e5;
    border-radius: 15px;
    color: white;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}
.job-card button:hover{
    color: #24a1e5;
    background: none;
}