@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Poppins:wght@100;200;400&family=Roboto&family=Work+Sans&family=Nunito&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
.slide-container{
    margin-top: -2rem;
    position: relative;
    padding: 0;
}
:root{
    --color1: #01161E;
    --color2: #124559;
    --color3: #598392;
    --color4: #AEC380;
    --color5: #0000009e;
    --color6: #124559a4;
}
.main{
    background-image: linear-gradient(var(--color5),var(--color5)),url(../images/cover3.jpg);
    width: 100%;
    min-height: 80vh;
    background-position: center;
    background-size: cover;
    position: relative;
}
.overlay{
    position: absolute;
    top:50%;
    font-family: Poppins;
    left:25%;
    transform: translate(-50%,-50%);
    display: block;
    /* text-align: center; */
    color: white;
    font-family: Poppins;
    font-size: 1rem;
}
.overlay span{
    font-size: 6rem;
    color: #24a1e5;
}
.overlay h2{
    letter-spacing: 1px;
}
.exp,.contact{
    background-color: #24a1e5;
    font-size: 1.2rem;
    padding: 0.4rem 1.2rem 0.4rem 1.2rem;
    margin: 1rem .6rem;
    /* background-color: transparent; */
    border-radius: 10px;
    transition: ease .3s;

    border: 1px solid #24a1e5;
    cursor: pointer;
    color: white;
}
.contact{
    background-color: transparent;
    border: 2px solid #fff;
    transition: ease .3s;

}
.exp:hover{
    background-color: #24a1e5;
    color: #01161E;
    border: 1px solid #24a1e5;
}
.contact:hover{
    background-color: #24a1e5;
    color: #01161E;
    border: 2px solid #24a1e5;
}

/* Courses Section css */

.courses{
    padding: 2.5rem;
    font-family: Poppins;
    position: relative;
}
.courses span{
    color: #24a1e5;
    font-size: 4rem;
    text-transform: uppercase;
}
.courses h1{
    padding: 2rem;
    font-size: 4rem;
}
.courses h2{
    padding: 0.8rem 0.8rem 0rem 2rem;
    font-size: 2rem;
}
.icon1{
    padding-right: 1rem;
}
.course{
    margin: 2rem;
    border-radius: 15px;
    flex-basis: 25%;
    padding: 2rem 2rem 3.5rem 2rem;
    background-color: #fff;
    box-sizing: border-box;
    transition: all ease-out 0.5s ;
    border: none;
    border-top: 1px solid #12455900;
    border-left: 1px solid #12455900;
    border-right: 1px solid #12455900;
    border-bottom: 4px solid #124559;
}
.course h1{
    font-size: 1.15rem;
    /* padding: .5rem; */
    color: #124559;
    font-weight: 600;
    font-family: Poppins;
    padding: .8rem 0 0.8rem 0;
    border-bottom: 1px solid #24a1e5;
}
.course h1:hover{
    color: #0087ca;
}
.course h2{
    font-size: 0.9rem;
    padding: 1rem 0 1rem 0;
    font-family: Poppins;
    color: #24a1e5;
}
.course i{
    padding: 1.5rem 0 1.5rem 0;
}
.course-row{
    display: flex;
    /* padding: 1rem; */
    align-items: center;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}
.course-section{
    background-color: whitesmoke;
}
.tagline{
    padding: 2.5rem;
}
.tagline h2{
    font-size: 2rem;
    font-family: Poppins;
    padding:3rem 3rem 0 3rem;
    color: #20506e;
    text-align: center;
}
.tagline span{
    font-size: 4rem;
    text-transform: uppercase;
    color: #24a1e5;
    font-family: Poppins;
    font-weight: 600;
    padding: 2rem;
}
.course:hover{
    transform: translate(0, -10px);
    
    /* background-color: #124559; */
    border-bottom: 4px solid #24a1e5;
    cursor: pointer;
    border-top: 1px solid #24a1e5;
    border-left: 1px solid #24a1e5;
    border-right: 1px solid #24a1e5;
}

/* About Section css */

.aboutSection{
    background-image: linear-gradient(#124559a2,#124559a2),url(../images/ACE-Banner.jpg);
    width: 100%;
    min-height: 80vh;
    background-position: center;
    background-size:cover;
    position: relative;
}
.about{
    position: absolute;
    top: 12%;
    display: block;
    text-align: center;
    color: white;
    font-family: Poppins;
    font-size: 1rem;
}
.about span{
    font-size: 3rem;
    padding: 0.3rem 0.7rem 0 0.7rem;
    border-bottom: 7px solid #24a1e5;
}
.message p{
    padding: 2rem 6rem 0 6rem;
    font-size: 1.3rem;
}
.buttons button{
    padding: 0.5rem;
    font-size: 1.7rem;
    margin: 2rem 3rem 0 3rem;
    background-color: transparent;
    border: none;
    text-transform: uppercase;
    font-family: Poppins;
    color: white;
    cursor: pointer;
}
.know{
    padding: 0.8rem 0.6rem 0.8rem 0.6rem;
    font-size: 1.4rem;
    text-transform: uppercase;
    margin-top: 4rem;
    transition: 0.3s ease-in-out;
    cursor: pointer;
    background-color: transparent;
    font-weight: 500;
    border: 2px solid white;
    border-radius: 10px;
    color: white;
}
.know:hover{
    background-color: white;
    color: #0087ca;
}
.hover-underline-animation {
    display: inline-block;
    position: relative;
    color: #0087ca;
}
  
.hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 4px;
    bottom: 0;
    left: 0;
    background-color: 
  #0087ca;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
  
.hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

/* Testimonials css */

.feedBack{
    background-color: whitesmoke;
    margin-right: 1rem;
    display: flex;
    align-items: center;
    padding: 0.8rem;
    border-radius: 15px;
    justify-content: center;
}
.alumniFB{
    padding: 1.3rem;
    background-color: #d9d9d9;
    font-family: Poppins;
    margin-left: .5rem;
    border-radius: 15px;
}
.alumniFB p{
    font-size: 0.95rem;
}
.name{
    font-weight: 600;
    font-size: 1.3rem;
    letter-spacing: .1rem;
    color: #20506e;
}
.batch{
    color: grey;
    padding: 0.2rem 0 0.2rem 0;
    font-size: 0.9rem;
}
.feedBack img{
    width: 30%;
    border-radius: 15px;
}
.testFlex{
    background-color: #1245593d;
    padding: 2rem 3.5rem 2.5rem 3.5rem;
    border-radius: 15px;
    margin-top: 3.5rem;
}
.testFlex h2{
    text-align: center;
    padding-bottom: 1.5rem;
    font-size: 2rem;
    font-family: Poppins;
    color: #124559;
}
.head{
    font-size: 2.5rem;
    letter-spacing: .5rem;
    font-family: Poppins;
    font-weight: 550;
    text-align: center;
}
.head span{
    padding: 0 .5rem 0.1rem 0.5rem;
    border-bottom: 5px solid #0087ca;
}
.testimonials{
    background-image: url(../images/testBack.jpg);
    width: 100%;
    min-height: 50vh;
    background-position: center;
    background-size:cover;
    padding: 2rem;
    display: block;
    position: relative;
}

/*Footer CSS*/

.footer{
    background-image: linear-gradient(#124559e1,#124559e1),url(../images/footer.jpg);
    background-size: cover;
    font-family: Poppins;
    padding: 2rem;
}
.links{
    display: flex;
    justify-content: space-evenly;
    padding: 1rem;
}
.programs, .quickLinks, .usefulLinks, .touchUs{
    padding-right: 2rem;
}
.list{
    list-style-type: none;
    padding: 1rem 0 1rem 0;
}
.programs sup{
    color: #0087ca;
    font-weight: 600;
    font-size: 0.5rem;
}
.list li{
    padding: 0.5rem 0.5rem 0;
    font-size: 0.9rem;
}
.programs h2, .quickLinks h2, .usefulLinks h2, .touchUs h2{
    color: white;
    text-decoration: underline solid #0087ca 5px;
}
.programs h3, .quickLinks h3, .usefulLinks h3, .touchUs h3{
    color: white;
    padding: 1rem 0 0 0;
}
.programs a, .quickLinks a, .usefulLinks a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.781);
    transition: ease-in-out;
}
.programs a:hover, .quickLinks a:hover, .usefulLinks a:hover{
    color: white;
    text-decoration: underline;
}
.touchUs li{
    color: rgba(255, 255, 255, 0.781);
}

.footerSocial {
    text-align: center;
}
.footerSocial h3{
    color: white;
    font-size: 1.5rem;
    padding: 0.8rem;
}
.socialLink{
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    padding: 1rem;
}
.query-1{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 3rem;
    font-family: Poppins;
}
.query-1 h2{
    font-size: 2rem;
}
.queFeed{
    display: flex;
    justify-content: space-between;
}
.queryBut, .feedBut{
    margin-left: 2rem;
    padding: 0.8rem;
    background-color: #124559;
    border: 2px solid #124559;
    border-radius: 15px;
    cursor: pointer;
    color: white;
    transition: 0.3s ease-in-out;
    font-size: 1.2rem;
}
.feedBut{
    background-color: #fff;
    border: 2px solid #124559;
    color: #124559;
}
.queryBut:hover{
    background-color: #fff;
    color: #124559;
    border: 2px solid #124559;

}
.feedBut:hover{
    background-color: #124559;
    color: #fff;
}
.new-course{
    background-image: url("../images/banner03.png");
    background-size: cover;
    font-family: Poppins;
    padding-bottom: 1rem;
}
.new-course h1{
    color: #0087ca;
    font-size: 2.5rem;
}
.new-course p{
    font-size: 1.3rem;
    padding-left: 42rem;
    padding-top: 1rem;
    line-height: 40px;
    padding-right: 2rem;
}
.new-course h3{
    text-align: center;
    padding-bottom: 2rem;
    color: #0087ca;
    padding-left: 45rem;
    padding-top: 2rem;
    font-size: 1.2rem;
}
#head01{
    color: #20506e;
    font-size: 3rem;
}
@media screen and (max-width:600px){

    .cards, .cards1{
        flex-direction: column;
    }
    .overlay{
        position: absolute;
        /* top:50%;
        left:40%; */
        /* transform: translate(-50%,-50%); */
        display: block;
        /* text-align: center; */
        color: white;
        text-align: center;
        font-family: Poppins;
        font-size: 1rem;
        margin-left: 8.5rem;
    }
    .overlay h2, h1{
        font-size: 1.3rem;
    }
    .course-row{
        display: flex;
        flex-direction: column;
    }
}


@media screen and (max-width:480px) {
    .overlay{
        position: absolute;
        /* top:50%;
        left:40%; */
        /* transform: translate(-50%,-50%); */
        display: block;
        /* text-align: center; */
        color: white;
        text-align: center;
        font-family: Poppins;
        font-size: 1rem;
        margin-left: 7.5rem;
    }
    .overlay h2, h1{
        font-size: 1.3rem;
    }
    .course-row{
        display: flex;
        flex-direction: column;
    }
    .courses span{
        color: #24a1e5;
        font-size: 3.7rem;
        text-transform: uppercase;
    }
    .courses h1{
        padding: 0.3rem;
        font-size: 3.5rem;
    }
    .courses h2{
        padding: 1rem 0.8rem 0rem 0.3rem;
        font-size: 2rem;
        text-align: center;
    }
    .tagline span{
        padding-left: 0rem;
        font-size: 3.5rem;
    }
    .tagline h2{
        padding: 1rem;
        font-size: 1.5rem;
    }
    .about{
        top: 5%;
        display: block;
        text-align: center;
    }
    .about span{
        font-size: 1.5rem;
        border-bottom: 4px solid #24a1e5;
    }
    .buttons button{
        font-size: 1.1rem;
        margin: 1rem 0.6rem 0 .6rem;
    }
    .message p{
        font-size: 1rem;
        padding: 1rem 1.5rem 0 1.5rem;
    }
    .know{
        padding: 0.4rem 0.6rem 0.4rem 0.6rem;
        font-size: 1rem;
        text-transform: uppercase;
        margin-top: 1rem;
        transition: 0.3s ease-in-out;
        cursor: pointer;
        background-color: transparent;
        font-weight: 500;
        border: 2px solid white;
        border-radius: 10px;
        color: white;
    }
    .feedBack img{
        width: 30%;
    }
    .testimonials{
        background-image: url('../images/testBack480.jpg');
    }
    .feedBack{
        margin: 0;
    }
    .alumniFB{
        padding: 1rem;
    }
    .feedBack p{
        font-size: 0.7rem;
    }
    .testFlex{
        padding: 1rem 1rem 2rem 1rem;
    }
    .head span{
        font-size: 1.8rem;
    }
    .testFlex h2{
        color: #124559;
        font-size: 1.8rem;
    }
    .links{
        flex-direction: column;
    }
    .query-1{
        flex-direction: column;
        text-align: center;
    }
    .query-1 h2{
        font-size: 1.5rem;
    }
    .queFeed{
        flex-direction: column;
    }
    .proSublist h2{
        
    }
    .queryBut, .feedBut{
        margin: 1rem;
        padding: 0.6rem;
    }
    .new-course{
        background-position: center;
        padding-top: 2rem;
    }
    .new-course h1{
        color: #0087ca;
        font-size: 2rem;
    }
    .new-course p{
        font-size: 1.3rem;
        padding-left: 0rem;
        padding-top: 2rem;
        padding-right: 1rem;
    }
    .new-course h3{
        text-align: center;
        padding-bottom: 2rem;
    
        padding-left: 0rem;
        padding-top: 2rem;
        font-size: 1.2rem;
    }
}
@media screen and (max-width:400px) {
    .overlay{
        left: 16%;
        font-family: Poppins;
    }
    .overlay span{
        font-size: 5rem;
    }
    .courses h1{
        padding: 0;
        font-size: 3rem;
    }
    .courses h1 span{
        font-size: 3rem;
    }
    .new-course h1{
        font-size: 1.8rem;
    }
    .new-course p{
        font-size: 1.25rem;
        line-height: 35px;
    }
    .tagline span{
        font-size: 2.8rem;
    }
    .tagline h2{
        font-size: 1.3rem;
        padding: .5rem 0 0 0;
    }
    .buttons button{
        font-size: 1.1rem;
        padding: 0.2rem;
        margin: 2rem 0.5rem 0 0.5rem;
    }
    #head01{
        font-size: 2rem;
    }
}